$fontSize: 16px;

$grayBlue: #1B1D29;

$primary: #0085FF;

$primaryBackground: #fff;
$mainBackground: #f5f7fa;

$primaryText: #262626;
$secondaryText: #7D7D7D;

$borderColor: #CFD2D9;
$activeBorderColor: #2F80ED;
$activeOutlineColor: #CCE7FF;
